In [12]:
import pandas as pd

- Import movie dataset

In [13]:
movie = pd.read_csv("movie.csv")

In [14]:
movie.columns

Index(['movieId', 'title', 'genres'], dtype='object')

In [15]:
movie = movie.loc[:, ['movieId', 'title']]

In [16]:
movie.head()

   movieId                               title
0        1                    Toy Story (1995)
1        2                      Jumanji (1995)
2        3             Grumpier Old Men (1995)
3        4            Waiting to Exhale (1995)
4        5  Father of the Bride Part II (1995)

- Import rating dataset

In [17]:
rating = pd.read_csv("rating.csv")

In [18]:
rating.columns

Index(['userId', 'movieId', 'rating', 'timestamp'], dtype='object')

In [20]:
rating = rating.loc[:, ['userId', 'movieId', 'rating']]

In [22]:
rating.head()

   userId  movieId  rating
0       1        2     3.5
1       1       29     3.5
2       1       32     3.5
3       1       47     3.5
4       1       50     3.5

- We merge rating dataset and movie dataset

In [23]:
data = pd.merge(movie, rating)

In [24]:
data.head()

   movieId             title  userId  rating
0        1  Toy Story (1995)       3     4.0
1        1  Toy Story (1995)       6     5.0
2        1  Toy Story (1995)       8     4.0
3        1  Toy Story (1995)      10     4.0
4        1  Toy Story (1995)      11     4.5

In [25]:
data.shape

(20000263, 4)

In [27]:
data = data.iloc[: 10000000, :]

In [28]:
data.head()

   movieId             title  userId  rating
0        1  Toy Story (1995)       3     4.0
1        1  Toy Story (1995)       6     5.0
2        1  Toy Story (1995)       8     4.0
3        1  Toy Story (1995)      10     4.0
4        1  Toy Story (1995)      11     4.5

In [29]:
pivot_table = data.pivot_table(index = ["userId"], columns = ["title"], values = "rating")

In [31]:
pivot_table.head()

title,'Til There Was You (1997),"'burbs, The (1989)",1-900 (06) (1994),101 Dalmatians (1996),101 Dalmatians (One Hundred and One Dalmatians) (1961),12 Angry Men (1957),187 (One Eight Seven) (1997),1984 (Nineteen Eighty-Four) (1984),2 Days in the Valley (1996),2 ou 3 choses que je sais d'elle (2 or 3 Things I Know About Her) (1967),...,"Yes, Madam (a.k.a. Police Assassins) (a.k.a. In the Line of Duty 2) (Huang gu shi jie) (1985)",You Can't Take It with You (1938),Young Frankenstein (1974),Young Guns (1988),Young Guns II (1990),"Young Poisoner's Handbook, The (1995)",Your Friends and Neighbors (1998),Zero Effect (1998),Zero Kelvin (Kjærlighetens kjøtere) (1995),Zeus and Roxanne (1997)
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,...,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
watching_movie = pivot_table["Bad Boys (1995)"]

In [35]:
similarity_with_movie = pivot_table.corrwith(watching_movie)

c:\Users\LENOVO\AppData\Local\Programs\Python\Python39\lib\site-packages\numpy\lib\function_base.py:2551: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar)
c:\Users\LENOVO\AppData\Local\Programs\Python\Python39\lib\site-packages\numpy\lib\function_base.py:2480: RuntimeWarning: divide by zero encountered in true_divide
  c *= np.true_divide(1, fact)

In [37]:
similarity_with_movie = similarity_with_movie.sort_values(ascending = False)

In [38]:
similarity_with_movie.head()

title
Bad Boys (1995)                      1.000000
Tar (1996)                           1.000000
Ride (1998)                          0.942075
Jar, The (Khomreh) (1992)            0.934199
Regular Guys (Echte Kerle) (1996)    0.872402
dtype: float64