In [98]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [99]:
data = pd.read_csv("smoking.csv")

In [100]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55692 entries, 0 to 55691
Data columns (total 27 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   55692 non-null  int64
 1   gender               55692 non-null  object
 2   age                  55692 non-null  int64
 3   height(cm)           55692 non-null  int64
 4   weight(kg)           55692 non-null  int64
 5   waist(cm)            55692 non-null  float64
 6   eyesight(left)       55692 non-null  float64
 7   eyesight(right)      55692 non-null  float64
 8   hearing(left)        55692 non-null  float64
 9   hearing(right)       55692 non-null  float64
 10  systolic             55692 non-null  float64
 11  relaxation           55692 non-null  float64
 12  fasting blood sugar  55692 non-null  float64
 13  Cholesterol          55692 non-null  float64
 14  triglyceride         55692 non-null  float64
 15  HDL                  55692 non-null  float64
 16  LDL                  55692 non-null  float64
 17  hemoglobin           55692 non-null  float64
 18  Urine protein        55692 non-null  float64
 19  serum creatinine     55692 non-null  float64
 20  AST                  55692 non-null  float64
 21  ALT                  55692 non-null  float64
 22  Gtp                  55692 non-null  float64
 23  oral                 55692 non-null  object
 24  dental caries        55692 non-null  int64
 25  tartar               55692 non-null  object
 26  smoking              55692 non-null  int64
dtypes: float64(18), int64(6), object(3)
memory usage: 11.5+ MB

In [101]:
data.drop(["ID", "oral"], axis = 1, inplace = True)

In [102]:
y = data.smoking.values
x_data = data.drop(["smoking"], axis = 1)

- Label Encoder

In [103]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

x_data["gender"] = le.fit_transform(x_data["gender"])
x_data["tartar"] = le.fit_transform(x_data["tartar"])

- Normalization

In [104]:
x = (x_data - np.min(x_data))/np.max(x_data).values

In [105]:
x.head()

,gender,age,height(cm),weight(kg),waist(cm),eyesight(left),eyesight(right),hearing(left),hearing(right),systolic,...,HDL,LDL,hemoglobin,Urine protein,serum creatinine,AST,ALT,Gtp,dental caries,tartar
0,0.0,0.235294,0.131579,0.222222,0.234884,0.111111,0.090909,0.0,0.0,0.179167,...,0.111650,0.067204,0.379147,0.0,0.051724,0.009153,0.006177,0.026026,0.0,1.0
1,0.0,0.235294,0.157895,0.222222,0.232558,0.070707,0.050505,0.0,0.0,0.200000,...,0.061489,0.067742,0.369668,0.0,0.043103,0.012204,0.006177,0.017017,0.0,1.0
2,1.0,0.411765,0.210526,0.222222,0.224806,0.070707,0.070707,0.0,0.0,0.279167,...,0.082524,0.080645,0.516588,0.0,0.077586,0.011442,0.005148,0.021021,0.0,0.0
3,1.0,0.235294,0.184211,0.296296,0.286822,0.141414,0.141414,0.0,0.0,0.120833,...,0.066343,0.120968,0.464455,0.0,0.077586,0.009916,0.008579,0.017017,0.0,1.0
4,0.0,0.235294,0.131579,0.222222,0.271318,0.090909,0.090909,0.0,0.0,0.204167,...,0.093851,0.056989,0.360190,0.0,0.043103,0.007628,0.004461,0.021021,0.0,0.0

- Train Test Split

In [106]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.15, random_state = 42)

- Logistic Regression

In [107]:
from sklearn.linear_model import LogisticRegression
logisticRegr = LogisticRegression()
logisticRegr.fit(x_train, y_train)
y_head = logisticRegr.predict(x_test)

score = logisticRegr.score(x_test, y_test)
print(score)

0.7397653818530046

c:\Users\LENOVO\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(